.child {
    transition: all 1.1s;
}


.parent:hover .child {
    transform: scale(1.1);
}



.wrapper {
    text-align: center;
    
    width: 355px;
    height: 350px;
}
.wrapper:hover .child {
    transform: scale(1.1);
}

.test {
    background-size: cover;
    background-repeat: no-repeat;
    width: 348px;
    height: 348px;
    transition: all 1.1s;
}