/* Navbar slide bottom animations */
.slide-bottom {
  -webkit-animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-25%);
    transform: translateY(-25%);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-25%);
    transform: translateY(-25%);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

/* React Router NavLink active class */
.active {
  color: #548c67;
  /* font-weight: 600; */
}

/* About page: revealing the content */
.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 1s ease;
}

.reveal.active {
  transform: translateY(0px);
  opacity: 1;
}
.active {
  color: #548c67;
  font-weight: 600;
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* Solar system stuff */

@keyframes translate-sun {
  0% {
    transform: translateX(0) translateY(0);
  }
  25% {
    transform: translateX(2rem) translateY(2rem);
  }

  50% {
    transform: translateX(4rem) translateY(4rem);
  }
  75% {
    transform: translateX(5rem) translateY(6rem);
  }
  100% {
    transform: translateX(6rem) translateY(8rem);
  }
}

@keyframes translate-moon {
  0% {
    transform: translateX(1rem) translateY(-1);
  }
  25% {
    transform: translateX(2rem) translateY(-2rem);
  }
  50% {
    transform: translateX(3rem) translateY(-2rem);
  }
  75% {
    transform: translateX(4rem) translateY(-4rem);
  }
  100% {
    transform: translateX(5rem) translateY(-6rem);
  }
}

.animate-sun {
  animation: translate-sun 12s linear infinite alternate;
}

.animate-moon {
  animation: translate-moon 12s linear infinite alternate;
}

/*  */
.peach {
  border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%;
}

/* The partners greyed out logos*/
.grayscale-hover {
  filter: grayscale(100%);
  transition: filter 0.3s ease;
}
.grayscale-hover:hover {
  filter: none;
}
